In [1]:
import pandas as pd
import numpy as np

In [2]:
vine_data = "vine_data.csv"
vine_df = pd.read_csv(vine_data)

In [3]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [4]:
total_votes_df = vine_df.loc[(vine_df["total_votes"] >= 20)]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [5]:
helpful_50_df = total_votes_df.loc[(total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= .5)]
helpful_50_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [6]:
helpful_50_df['vine'].value_counts()

N    40471
Y       94
Name: vine, dtype: int64

In [7]:
paid_vine_review_df = helpful_50_df.loc[(helpful_50_df["vine"] == "Y")]
paid_vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [8]:
unpaid_vine_review_df = helpful_50_df.loc[(helpful_50_df["vine"] == "N")]
unpaid_vine_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [9]:
paid_vine_review_df['vine'].value_counts()

Y    94
Name: vine, dtype: int64

In [10]:
unpaid_vine_review_df['vine'].value_counts()

N    40471
Name: vine, dtype: int64

In [11]:
five_star_paid = paid_vine_review_df.loc[(paid_vine_review_df['star_rating'] == 5)]
five_star_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
335897,R286MFBAJ8NPD6,5,46,51,Y,N
364816,R1JRR530H4COA2,5,22,28,Y,N
367440,RQ5WD90PUNBU9,5,21,24,Y,N

In [12]:
five_star_unpaid = unpaid_vine_review_df.loc[(unpaid_vine_review_df['star_rating'] == 5)]
five_star_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1402,R36O341WWXXKNP,5,28,31,N,N
2507,R29BOS5HMAY1LO,5,88,110,N,N
3932,RDX2ZZ46AM343,5,32,34,N,Y
4133,R60GI4Z1CNGGV,5,17,20,N,Y
5278,R2FAARI3JQO9XQ,5,29,30,N,Y

In [13]:
five_star_paid['vine'].value_counts()

Y    48
Name: vine, dtype: int64

In [14]:
five_star_unpaid['vine'].value_counts()

N    15663
Name: vine, dtype: int64

In [15]:
paid_vine_review = paid_vine_review_df['star_rating'].count()
paid_vine_review

94

In [16]:
unpaid_vine_review = unpaid_vine_review_df['star_rating'].count()
unpaid_vine_review

40471

In [17]:
five_star_paid_count = five_star_paid.count()
five_star_paid_count

review_id            48
star_rating          48
helpful_votes        48
total_votes          48
vine                 48
verified_purchase    48
dtype: int64

In [18]:
five_star_unpaid_count = five_star_unpaid.count()
five_star_unpaid_count

review_id            15663
star_rating          15663
helpful_votes        15663
total_votes          15663
vine                 15663
verified_purchase    15663
dtype: int64

In [19]:
five_star_unpaid = unpaid_vine_review_df.loc[(unpaid_vine_review_df['star_rating'] == 5)]['star_rating'].count()
five_star_unpaid

15663

In [20]:
five_star_paid = paid_vine_review_df.loc[(paid_vine_review_df['star_rating'] == 5)]['star_rating'].count()
five_star_paid

48

In [21]:
percent_five_unpaid = five_star_unpaid / unpaid_vine_review * 100
percent_five_unpaid

38.701786464381904

In [22]:
percent_five_paid = five_star_paid / paid_vine_review * 100
percent_five_paid

51.06382978723404